---
dependency:
  name: galaxy

driver:
  name: vagrant
  provider:
    name: virtualbox

platforms:
  - name: instance
    box: generic/ubuntu2204
    memory: 2048
    cpus: 2

provisioner:
  name: ansible

# verifier:
#   name: ansible
